.header {
  position: fixed;
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 30px;

  .header-logo {
    width: 91px;
    height: 68px;
    object-fit: contain;

    @include responsive(mobile) {
      width: auto;
      height: 25px;
    }
  }
}
