.header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 30px;

  @include responsive(mobile) {
    padding: 20px 10px;
    height: 50px;
  }

  .header-logo {
    width: 91px;
    height: 68px;
    object-fit: contain;

    @include responsive(mobile) {
      width: auto;
      height: 25px;
    }
  }
}

.mobile-youtube-header {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  width: 100vw;
  height: 50px;
  z-index: 5;
  color: $secondary;
  background-color: $dark_background;
  font-size: 1.5rem;
  padding: 0 10px;

  @include responsive(mobile) {
    display: flex;
  }

  .youtube-button,
  .share-button {
    width: 24px;
    height: 24px;
  }

  .youtube-button {
    margin-right: 16px;
  }
}
