.header {
  position: fixed;
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 30px;

  @include responsive(mobile) {
    padding-left: 15px;
  }

  .logo {
    width: 127px;
    height: 40px;
    object-fit: contain;

    @include responsive(mobile) {
      display: none;
      width: 80px;
      height: 25px;
    }
  }
}
