.icon-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 14.5px;
  background-color: #111724;
  color: #07dee7;
  font-size: 12px;
  padding: 0 16px;

  img {
    margin-right: 3px;
  }
}
