.plus-minus {
  display: flex;
  align-items: center;
  color: #ff54ae;
  margin: 8px 0;

  .value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
    height: 24px;
    padding: 4px;
    border: solid 1.2px #4c4b5e;
    border-radius: 18px;
    margin-right: 8px;
  }

}