.ranking-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  padding: 20px;

  .title {
    font-size: 1.375rem;
    margin-top: 20px;
  }

  .compete-text {
    margin-bottom: 30px;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
  }

  .ant-tabs-bar {
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #4c4b5e;
    color: $text;

    .ant-tabs-tab {
      font-size: 0.875rem;
      height: 24px;
      margin-right: 16px;
      margin-left: 16px;
      padding: 0;
    }

    .ant-tabs-tab-active {
      color: $secondary;
      border: none;
    }

    .ant-tabs-ink-bar {
      background-color: transparent;
    }

    svg {
      fill: $text;
      font-size: 16px;
    }
  }
}

.rank-item {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;

  .rank {
    width: 42px;

    @include responsive(tiny) {
      width: 32px;
    }
  }

  .rank-item-thumbnail {
    min-width: 50px;
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 16px;
  }

  .upvote-button {
    height: 22px;

    &.liked {
      background-color: $primary !important;
      color: #fff !important;
    }
  }

  .video-detail {
    width: 208px;
    overflow: hidden;
    @include responsive(tiny) {
      width: 200px;
    }
  }

  .text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-right: 20px;
  }

  .primary-button {
    width: 72px;
    padding: 0px 6px;
    i {
      margin-right: 4px;
    }
  }
}
