.round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  border: solid 1px #4c4b5e;
  cursor: pointer;

  &.crypto {
    width: 74px;
    height: 24px;
    border-radius: 14.5px;
    background-color: #4c4b5e;

    img {
      width: 14px;
      height: 14px;
      object-fit: contain;
      margin-right: 4px;
    }
  }

  &:hover {
    border-color: $primary;
  }

  &.selected {
    border-color: #07dee7;
  }
}
