.side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  height: 100vh;
  background-color: #111724;

  .primary-button {
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px #ff54ae;
    color: #ff54ae;
  }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #9f9faf;
    padding: 26px 20px 36px;
    font-size: 0.875rem;

    .hide-ranking {
      margin-left: 10px;
    }

    .primary-button {
      align-self: flex-end;
    }
  }
}
