@import "../constants";

.submit-container {
  color: #9f9faf;
  svg {
    fill: #9f9faf;
  }

  hr {
    width: 100%;
    border: solid 1px #4c4b5e;
    margin: 30px 0;
  }

  // Override Antd's weird #fff background color
  .ant-drawer-content {
    background-color: $control_background;
  }

  .submit-footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: $sidebar-width - 40px;
    border-top: solid 1px #4c4b5e;
    background-color: $control_background;
    margin: 0 20px;
    padding: 10px 0;
    height: 72px;
    bottom: 0;

    .prev,
    .next {
      cursor: pointer;
    }

    .prev {
      svg {
        margin-right: 4px;
      }
    }

    .next {
      color: #07dee7;
      svg {
        fill: #07dee7;
        margin-left: 4px;
      }
    }
  }

  .ant-input-number,
  .ant-input-number:focus,
  .ant-input-number:hover,
  .ant-input-number:active,
  input,
  input:focus,
  input:hover,
  input:active {
    background-color: transparent;
    border: none;
    color: #fff;
    box-shadow: none;
  }

  .ant-slider:hover .ant-slider-track,
  .ant-slider-track {
    background-color: #07dee7;
  }

  .title {
    color: #07dee7;
    margin-bottom: 30px;
    align-self: center;
  }

  .desc {
    // width: 233px;
    margin-top: 15px;
    text-align: center;
    align-self: center;
  }

  .dog-img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    align-self: center;
  }

  .step-submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 20px;

    .author-title {
      margin-left: 10px;
    }
    .thumbnail {
      width: 100px;
      height: 80px;
      object-fit: contain;
    }

    .add-tags {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .tags {
      width: 100%;
      border-bottom: solid 1px #4c4b5e;
    }

    .tag {
      background: #4c4b5e;
      border: dashed 1px #9f9faf;
      color: #9f9faf;
      cursor: pointer;
      margin-bottom: 5px;
    }

    .input-desc {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .input-container {
      display: flex;
      width: 100%;
      height: 40px;
      align-items: center;
      padding: 0px 16px;
      border: 2px solid #07dee7;
      border-radius: 10px;

      &.tag-step {
        padding: 0;
        border: none;
        height: auto;

        .input {
          margin-left: 10px;
          text-decoration: underline;
          color: #07dee7;
        }
      }
    }

    button {
      width: 102px;
      height: 40px;
      border-radius: 7px;
      background-color: #ff54ae;
      border-color: #ff54ae;
      margin-top: 20px;
      color: #fff;
      margin-left: auto;
    }
  }
}
