.title-container {
  display: relative;
  z-index: 5;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 1.625rem 0.9375rem;

  @include responsive(mobile) {
    padding: 20px 10px;
  }

  .tags {
    margin-top: 1.25rem;
  }

  .badge {
    justify-content: center;
    min-width: 200px;
    height: 60px;
    border-radius: 7px;
    padding: 0 0 0 15px;
    background-color: rgba(17, 23, 36, 0.8);

    img {
      width: 24px;
      height: 32px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  .divider {
    width: 1px;
    height: 37px;
    background-color: #4c4b5e;
    margin: 0 0 0 15px;
  }

  .upvote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 16px;
    padding: 0 20px 0 15px;
  }
}
