.title-container {
  padding: 20px 20px;

  @include responsive(mobile) {
    padding: 20px 10px;
  }

  .big-upvote {
    width: 170px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 7px !important;

    i {
      margin-right: 10px;
    }
  }

  .title {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .tags {
    margin-top: 10px;
  }

  .badge {
    justify-content: center;
    min-width: 170px;
    height: 60px;
    border-radius: 7px;
    background-color: #111724;
    margin-left: 15px;
    padding: 0 15px;

    img {
      width: 24px;
      height: 32px;
      object-fit: contain;
      margin-right: 10px;
    }
  }
}
