.youtube {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .noise {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    background-color: #000;
    transition: opacity 0.5s linear;

    &.fade-out {
      opacity: 0;
    }

    .absolute-center {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .play-button {
    font-size: 1.25rem;
    margin-right: 8px;
  }

  .sound-control {
    display: flex;
    align-items: center;
    padding-right: 16px;

    .volume-slider {
      top: 3px;
      width: 0px;
      transition: width 0.1s ease-in-out;
    }


    .ant-slider:hover .ant-slider-track,
    .ant-slider-track {
      background-color: #fff!important;
    }

    &:hover {
      .ant-slider-handle {
        opacity: 1 !important;
      }
      .volume-slider {
        width: 100px;
        margin-left: 16px;
      }
    }
  }

  .controls {
    padding: 0px 20px 20px;

    .ant-slider-handle {
      opacity: 0;
    }

    .ant-slider {
      margin: 0;
      padding: 0;
    }

    .ant-slider:hover .ant-slider-rail,
    .ant-slider-rail {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .ant-slider:hover .ant-slider-track,
    .ant-slider-track {
      background-color: #07dee7;
    }
  }

  .slider-container {
    display: flex;
    margin: auto;
    color: #fff;
    align-items: center;
  }

  .slider {
    display: flex;
    flex: 1;
  }
}
