.youtube-container {
  position: relative;
  background-color: #000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include responsive(mobile) {
    z-index: 1000;
    transform: translateX(100vw);
    transition: all 250ms ease-in-out;
  }

  &.fullscreen {
    @include responsive(mobile) {
      transform: translateX(0);
    }
  }

  transition: width 250ms ease-in-out;

  .noise {
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 1;
    background-color: #000;
    transition: opacity 0.5s linear;

    &.fade-out {
      opacity: 0;
    }

    .absolute-center {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        width: 400px;
        max-width: 90vw;
        height: auto;
      }
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  .la-circle-notch {
    animation: rotate 1s infinite linear;
  }

  .fullscreen-img {
    width: 18px;
    height: 18px;
  }

  .play-button,
  .forward-button {
    font-size: 1.625rem;
  }

  .play-button {
    margin-right: 4px;
  }

  .forward-button {
    margin-right: 8px;
  }

  .sound-button {
    width: 1.625rem;
    height: 1.625rem;
  }

  .sound-control {
    display: flex;
    align-items: center;
    padding-right: 16px;

    .volume-slider {
      top: 3px;
      width: 0px;
      transition: width 0.1s ease-in-out;
    }

    .ant-slider:hover .ant-slider-track,
    .ant-slider-track {
      background-color: #fff !important;
    }

    &:hover {
      .ant-slider-handle {
        opacity: 1 !important;
      }
      .volume-slider {
        width: 100px;
        margin-left: 14px;
      }
    }
  }

  .controls {
    position: relative;
    z-index: 2;
    padding: 1.25rem;
    background-color: #000;

    &.mobile {
      padding: 0px 10px 20px;
    }

    .ant-slider-handle {
      opacity: 0;
    }

    .ant-slider {
      margin: 0;
      padding: 0;
    }

    .ant-slider:hover .ant-slider-rail,
    .ant-slider-rail {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .ant-slider:hover .ant-slider-track,
    .ant-slider-track {
      background-color: #07dee7;
    }
  }

  .slider-container {
    display: flex;
    margin: auto;
    color: #fff;
    align-items: center;
    justify-content: space-between;
  }

  .slider {
    display: flex;
    flex: 1;
  }

  .hover-controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 50%;
    top: 20%;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3),
      transparent
    );
    opacity: 0;
    transition: opacity 250ms ease-in-out;

    &.paused {
      opacity: 1;
    }

    .upvote-button {
      margin-top: 1.75rem;
      border-radius: 7px;
      border: solid 1px #ff54ae;
      background-color: rgba(17, 23, 36, 0.65);
      color: $primary;
      padding: 14px 32px;
      cursor: pointer;

      &.voted {
        background-color: $primary;
        color: #fff;
      }
    }

    .play-icon {
      margin: 0 90px;
    }

    i {
      font-size: 42px;
      color: #fff;
      cursor: pointer;
    }
  }

  .tap-to-unmute {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80px;
    left: 20px;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px 15px;
    font-weight: bold;
    color: #000;

    @include responsive(mobile) {
      left: 10px;
    }

    .unmute-img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }

  .show-ranking-mobile {
    width: 100vw;
    max-height: 90px;
    color: $secondary;
    padding: 20px 0 0 10px;
    font-size: 24px;
  }
}
