.youtube {

  .noise {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 1;
    background-color: #000;
    transition: opacity .5s linear;

    &.fade-out {
      opacity: 0;
    }

    .absolute-center{ 
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .play-button {
    font-size: 1.25rem;
    margin-right: 16px;
  }

  .slider-container {
    display: flex;
    margin: auto;
    color: #fff;
    align-items: center;
    padding: 0px 20px 20px;

    .ant-slider-handle {
      opacity: 0;
    }

    .ant-slider {
      margin: 0 16px;
    }

    .ant-slider:hover .ant-slider-track,
    .ant-slider-track {
      background-color: #ff54ae;
    }
  }

  .slider {
    display: flex;
    flex: 1;
  }
}
