@import "../constants";

.home {
  width: 100vw;
  background-color: $dark_background;

  .show-ranking {
    position: absolute;
    display: flex;
    align-items: center;
    top: $header-height/4;
    right: 1.875rem;
    opacity: 0;
    transition: opacity 0ms linear;
    cursor: pointer;
    @include responsive(mobile) {
      right: 0.9375rem;
    }

    @include responsive(mobile-landscape) {
      top: 1.25rem;
      right: 0.9375rem;
    }

    i {
      color: $secondary;
      font-size: 24px;
      margin-right: 10px;
    }

    .text {
      margin-top: 2px;

      @include responsive(mobile) {
        display: none;
      }
    }

    &.visible {
      opacity: 1;
      transition: opacity 1000ms linear;
      transition-delay: 250ms;
    }
  }
}

.tooltip-menu {
  .tooltip-menu-item {
    width: 128px;
    padding-left: 8px;
    cursor: pointer;
    margin: 4px 0;
  }
}

.mobile-youtube-header {
  display: none;
  align-items: center;
  width: 100vw;
  height: 50px;
  z-index: 5;
  padding-left: 10px;
  color: $secondary;
  background-color: $dark_background;
  font-size: 1.5rem;

  @include responsive(mobile) {
    display: flex;
  }
}

.show-more {
  text-align: center;
}
