html,
body,
.ant-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3,
h5,
h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

html,
body,
.root,
.app-container {
  overscroll-behavior-y: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

a {
  color: #3fcaff;
}

input[type="text"] {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #313c52;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #313c52;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #313c52;
  }
}

.primary-button {
  background-color: transparent !important;
  border-radius: 4px !important;
  border: solid 1px #ff54ae !important;
  color: #ff54ae !important;

  &.inverse {
    background-color: #ff54ae !important;
    border: solid 1px #ff54ae !important;
    color: #fff !important;
  }
}

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-align-between {
  display: flex;
  align-items: space-between;
}

.row-align-start {
  display: flex;
  align-items: flex-start;
}

.row-align-center {
  display: flex;
  align-items: center;
}

.row-align-end {
  display: flex;
  align-items: flex-end;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.row-space-around {
  display: flex;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
}

.text {
  color: $text;
}

.text-black {
  color: $text_black;
}

.text-grey {
  color: $text_grey;
}

.text-light-grey {
  color: #e5e5e5;
}

.text-off-white {
  color: #f4f4f4;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #3fcaff;
}

.text-green {
  color: #0ab06a;
}

.text-yellow {
  color: #f7e07e;
}

.text-warning {
  color: #ff597a;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.small {
  font-size: 0.875rem;
}

.big {
  font-size: 1.125rem;
}

.uppercase {
  text-transform: uppercase;
}

.hover-link {
  &:hover {
    cursor: pointer;
    color: $primary;
    transition: color 0.5s;
  }
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.circular-loading {
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: #fff;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  
  &.hover {
    opacity: 1;
  }
}
